{% extends "auctions/layout.html" %}


{% block body %}
    <h2>{{ listing.title }} </h2>
    <p><strong>Category:</strong> {{ listing.category }} </p>
    {% if user.is_authenticated %}
        {% if not is_watching %}
            <form method="POST" action="{% url 'add_to_watchlist' %}">
                {% csrf_token %}
                <input type="hidden" name="listingID" value="{{ listing.listingID }}">
                <button class="btn btn-primary" type="submit">Add to watch list</button>
            </form>
        {% else %}
            <form method="POST" action="{% url 'remove_from_watchlist' %}">
                {% csrf_token %}
                <input type="hidden" name="listingID" value="{{ listing.listingID }}">
                <button class="btn btn-secondary"" type="submit">Remove from watch list</button>
            </form>
        {% endif %}
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to add to watch list </p>
    {% endif %}
    <br>
    <div>
        <img src="{{ listing.imageURL }}" alt="Image of {{ listing.title }}" style="max-width:500px">
    </div>
    <div>
        <p><strong>Starting price</strong>: {{ listing.startingBid }} </p>
        <p><strong>Current high bid</strong>: 
            {% if listing.currentPrice %}
                {{ listing.currentPrice }} </p>
            {% else %}
                No bids</p>
            {% endif %}
    </div>
<!-- hides the ability to bid if the user is not logged in -->
    {% if user.is_authenticated %}
        <div>
            {% if error_message != None %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
            <form method = "POST" action="{% url 'new_bid' listingID=listing.listingID %}">
                {% csrf_token %}
                <input class="form-control" type="number" step="0.01" name="newBid" placeholder="{{ lowestPossibleBid }}">
                <br>
                <button class="btn btn-primary" type="submit">Bid</button>
            </form>
        </div>
    {% endif %}
    <br>
    <div>
<!-- Displays detail of the listing -->
        <h3>Details</h3>
        <p>{{ listing.description }}</p>
        <p><strong>Listed by:</strong>  {{ listing.listedBy }} on {{ listing.listedTime }} </p>
        
    </div>
    <div>
        <h3>Bid History</h3>
        {% if bids %}
        <table class = "table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User</th>
                    <th>Bid</th>
                    <th>Time</th>
                </tr>
            </thead>
            {% for bid in bids %}
                <tr>
                    <td>{{ bid.bidder }} </td>
                    <td>{{ bid.bidValue }}</td>
                    <td>{{ bid.bidTime }}</td>
                </tr>
            {% endfor %}
        </table>
            
        {% else %}
            <p>No bids</p>
        {% endif %}
    </div>
    <div>
        <h3>Comments</h3>
        <table class = "table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User</th>
                    <th>Comment</th>
                    <th>Time</th>
                </tr>
            </thead>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.userID }} </td>
                    <td>{{ comment.comment }}</td>
                    <td>{{ comment.commentTime }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
{% endblock %}